h1 {
    color: #f1b614;
}

h2 {
    color: #f1b614;
}

.center {
    margin: auto;
    width: 80em;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-image {
    width: 800px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.printButton {
    width: 40%;
    border: none;
    text-align: left;
    padding-left: 24px;
}

.checkout-page {
    margin-bottom: 30px;
}

hr {
    border: 1px solid #f1b614;
}

.images {
    margin-top: 45px;
    text-decoration: none;
    margin-bottom: 80px;
}

.preview {
    float: left;
    clear: left;
    margin-right: 8px;
}

.clearfix {
    overflow: auto;
}

.panel-heading {
    font-weight: bold;
}

.panel-primary {
    padding-bottom: 35px;
}

.home-body {
    margin-bottom: 20px;
}

.checkout-table {
    margin-top: 20px;
    margin-bottom: 20px;
}

.small-img {
    float: left;
    clear: left;
    margin-right: 10px;
}

.empty {
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    color: deeppink;
}

/*placeholder nav from https://www.w3schools.com/csS/css_navbar_horizontal.asp*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*end of placeholder nav */