h1{
    color:#f1b614;
}

h2{
    color: #f1b614;
}

.center {
    margin: auto;
    width: 80em;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-image {
    width: 800px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.printButton {
    width: 268px;
    height: 188px;
    border: none;
}

hr {
    border: 1px solid #f1b614;
}



/*placeholder nav from https://www.w3schools.com/csS/css_navbar_horizontal.asp*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

 /*end of placeholder nav */